<div class="chats-list">
    {{#each chats}}
        {{{ ChatPreview
            id=id
            title=title
            avatarFile=avatarFile
            lastMessage=lastMessage
            unreadCount=unreadCount
        }}}
    {{/each}}
</div>
