<main class="login-container">
    {{#> FormAuth
            title="Вход"
            primaryActionLabel="Авторизоваться"
            secondaryActionLabel="Нет аккаунта?"
            secondaryActionLink="registration"
    }}
        {{> Input label="Логин" name="login" }}
        {{> Input label="Пароль" name="password" type="password" }}
    {{/FormAuth}}
</main>

