.input {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    font-size: 13px;
    font-family: var(--font-family);
    color: var(--color-text);
    padding: 0 0 7px;
}

.input:focus-visible {
    outline: none;
}

