<div class="input">
    <label class="input__container">
        <input
            class="input__element"
            placeholder=""
            type="{{type}}"
            name="{{name}}"
        />
        <div class="input__label">{{label}}</div>
    </label>
    <span class="input__text-error">{{error}}</span>
</div>
