<form class="form-auth">
    <div class="title">
        {{title}}
    </div>
    <div class="form-auth__content">
        {{> @partial-block }}
    </div>
    <div class="form-auth__actions">
        {{{ Button
            label=primaryActionLabel
            type="primary"
            ref=buttonRef
            onClick=onAuth
            buttonType="button"
        }}}
        {{> Link
            label=secondaryActionLabel
            href=secondaryActionLink
        }}
    </div>
</form>
