<form class="chat-input-line">
    <button type="button" class="attach-button">{{ svgIcon 'paperClip' }}</button>
    {{{ ChatInput ref="input" }}}
    {{{ SubmitButton ref="submitButton" onSubmit=onSubmit disabled=true }}}
</form>
