.chat-input {
    flex-grow: 1;
    height: 32px;
    background-color: var(--color-tertiary);
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    box-sizing: border-box;
}

.chat-input::placeholder {
    color: var(--color-text-secondary);
    font-family: var(--font-family);
    font-weight: var(--font-weight-primary);
    font-size: 12px;
}

.chat-input:focus {
    outline-color: var(--color-secondary);
}
