<div class="search-input-container">
    {{{ svgIcon 'search' }}}
    {{{ Input
        classname="search-input"
        name="searchChat"
        placeholder="Поиск"
        onInput=onChange
        ref="input"
    }}}
</div>
