<div class="field">
    <label class="field__label">
        {{{ Input
            value=value
            type=type
            name=name
            ref="input"
            onBlur=onBlur
        }}}
        <div class="field__label_text">{{label}}</div>
    </label>
    {{{ FieldError ref="error" }}}
</div>
