@import url('components/chat-input/chat-input.css');
@import url('components/chats-list/chats-list.css');
@import url('components/chat-window/chat-window.css');
@import url('components/top-bar/top-bar.css');
@import url('components/search-input/search-input.css');
@import url('components/chat-preview/chat-preview.css');
@import url('components/chat/chat.css');
@import url('components/message/message.css');
@import url('components/submit-button/submit-button.css');
@import url('components/message-block/message-block.css');
@import url('components/chat-input-line/chat-input-line.css');
@import url('components/new-chat-button/new-chat-button.css');
@import url('components/chat-header/chat-header.css');
@import url('components/chat-options-button/chat-options-button.css');
@import url('components/chat-options-select/chat-options-select.css');
@import url('components/chat-options-item/chat-options-item.css');

.chats-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.chats-navigation {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: var(--color-background-secondary);
}
