.profile-data__value {
    color: var(--color-text-secondary);
    background: none;
    border: none;
    text-align: right;
    min-width: 200px;
}

.profile-data__value:focus {
    outline: none;
}
