<div class="snackbar-stack">
    {{#each notifications}}
        {{{ Snackbar
            id=id
            title=title
            description=description
            type=type
        }}}
    {{/each}}
</div>
