<div class="navigation__top-bar">
    <div class="navigation__top-bar-actions">
        {{{ NewChatButton ref="newChatButton" onClick=onClickNewChat }}}
        {{> ProfileLink }}
    </div>
    {{{ SearchInput }}}
    {{{ NewChatModal ref="modal" }}}
</div>
