@import url('/src/assets/fonts/font-faces.css');
@import url('/src/components/button/button.css');
@import url('/src/components/input/input.css');
@import url('/src/components/field/field.css');
@import url('/src/components/profile-link/profile-link.css');
@import url('/src/components/badge/badge.css');
@import url('/src/components/link/link.css');
@import url('/src/components/close-button/close-button.css');
@import url('/src/modules/snackbar-stack/snackbar-stack.css');
@import url('/src/modules/form-auth/form-auth.css');
@import url('/src/modules/auth-block/auth-block.css');
@import url('/src/modules/modal/modal.css');
@import url('/src/pages/chats/chats.css');
@import url('/src/pages/profile/profile.css');
@import url('/src/pages/error/error.css');

:root {
  --font-family: 'Inter', sans-serif;
  --font-weight-primary: 500;
  --font-weight-secondary: 400;
  --color-primary: #3369f3;
  --color-secondary: #e4edfd;
  --color-tertiary: #efefef;
  --color-error: #ff2f2f;
  --color-text: #1e1e1e;
  --color-text-secondary: #999;
  --color-background-primary: #fff;
  --color-background-secondary: #fbfbfb;
  --color-background-tertiary: #f8f8f8;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-primary);
}

button {
  cursor: pointer;
  border: none;
  font-family: var(--font-family);
  font-weight: var(--font-weight-primary);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.avatar {
  border-radius: 100px;
  aspect-ratio: 1;
  flex-shrink: 0;
  background-color: var(--color-tertiary);
  overflow: hidden;
}

.avatar img {
  height: 100%;
}
