<div class="message-block">
    {{#each blocks}}
        <div class="message-block__item {{#if mine}}message-block__item_own{{else}}message-block__item_opposite{{/if}}">
            {{#each items}}
                {{> Message }}
            {{/each}}
        </div>
    {{/each}}
    <div class="message-block__date">{{date}}</div>
</div>
