<main class="chat-window">
    {{#unless currentChat}}
        <div class="chat-window__empty">
            Выберите чат, чтобы отправить сообщение
        </div>
    {{/unless}}
    {{#if currentChat}}
        {{{ ChatHeader
            avatarFile=currentChat.avatarFile
            title=currentChat.title
        }}}
        {{{ Chat }}}
        {{{ ChatInputLine }}}
    {{/if}}
</main>
