<div class="profile-row profile-data__row">
    <label class="profile-data__key" for="{{name}}">{{key}}</label>
    {{{ ProfileDataInput
        name=name
        value=value
        type=type
        editable=editable
        onBlur=onBlur
        ref="input"
    }}}
    {{{ ProfileDataError ref="error" }}}
</div>
